/* Estilos de cartelera */

.img-container {
    position: relative;
    overflow: hidden;
    height: 350px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    opacity: 100;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}
.border-cartelera{
  padding: 10px;
  background: rgb(255, 255, 255);
  border: 2px solid rgba(102, 102, 102, 0.317) ;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.img-cartelera{
  width: 100%;
  height: 350px;
  margin: auto;
}
.img-cartelera-item{
  width: 100%;
  height: 100%;
}

.cartelera-titulo{
    font-size: 40px;
}

.cartelera-desc{
    font-size: 25px;
}

@media (max-width: 700px) {
	.cartelera-titulo{
		font-size: 30px;
	}
	.cartelera-desc{
		font-size: 20px;
	}
	
}

/* Nuevos estilos del navbar */
/* Google Font Import - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  /* ===== Colors ===== */
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #695cfe;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;

  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

body {
  min-height: 100vh;
  background-color: var(--body-color);
  transition: var(--tran-05);
}

::selection {
  background-color: var(--primary-color);
  color: #fff;
}

body.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
}

/* ===== Sidebar ===== */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  padding-bottom: 42px;
  background: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 100;
}
.sidebar.close {
  width: 88px;
}

/* ===== Reusable code - Here ===== */

.sidebar li {
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
}

.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100%;
}

.sidebar .text,
.sidebar .icon {
  color: var(--text-color);
  transition: var(--tran-03);
}

.sidebar .text {
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
}
.sidebar.close .text {
  opacity: 0;
}
/* =========================== */

.sidebar header {
  position: relative;
}
.header-image{
  border-radius: 20px 0 20px 0;
  background-color: #ffffff;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}
.sidebar header .logo-text {
  display: flex;
  flex-direction: column;
}

header .image-text .name {
  margin-top: 2px;
  font-size: 18px;
  font-weight: 600;
}

header .image-text .profession {
  font-size: 16px;
  margin-top: -2px;
  display: block;
}

.sidebar header .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar header .image img {
  width: 40px;
  border-radius: 6px;
}

.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background-color: var(--primary-color);
  color: var(--sidebar-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
  color: var(--text-color);
}

.sidebar.close .toggle {
  transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
  margin-top: 40px;
}

.sidebar li.search-box {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  cursor: pointer;
  transition: var(--tran-05);
}

.sidebar li.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--primary-color-light);
  color: var(--text-color);
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  transition: var(--tran-05);
}
.sidebar li a {
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}

.sidebar li a:hover {
  background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
  color: var(--text-color);
}

.sidebar .menu-bar {
  height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar {
  display: none;
}
.sidebar .menu-bar .mode {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  position: relative;
  transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
  height: 50px;
  width: 60px;
}

.mode .sun-moon i {
  position: absolute;
}
.mode .sun-moon i.sun {
  opacity: 0;
}
body.dark .mode .sun-moon i.sun {
  opacity: 1;
}
body.dark .mode .sun-moon i.moon {
  opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
  position: absolute;
  right: 0;
  height: 100%;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}

.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--toggle-color);
  transition: var(--tran-05);
}

.switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--sidebar-color);
  transition: var(--tran-04);
}

body.dark .switch::before {
  left: 20px;
}

.home {
  position: absolute;
  top: 0;
  top: 0;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  background-color: var(--body-color);
  transition: var(--tran-05);
}
.home .text {
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  padding: 12px 60px;
}

.sidebar.close ~ .home {
  left: 78px;
  height: 100vh;
  width: calc(100% - 78px);
}
body.dark .home .text {
  color: var(--text-color);
}

/* chat bot */

.chatbot-padre {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  margin: 0;
}

.chatbot-container {
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.chatbot-header {
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 10px;
}

.chatbot-body {
  padding: 20px;
  height: 300px;
  overflow-y: auto;
}

.chatbot-message {
  background-color: #e9ecef;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.chatbot-message.bot {
  background-color: #e9ecef;
  text-align: left;
}

.chatbot-message.user {
  background-color: #007bff;
  color: white;
  text-align: right;
  margin-left: auto;
}

.chatbot-footer {
  display: flex;
  border-top: 1px solid #ccc;
  padding: 10px;
}

.chatbot-footer input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  margin-right: 10px;
  outline: none;
}

.chatbot-footer button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* Tema Claro (por defecto) */
body {
  background-color: white;
  color: black;
}

/* Tema Oscuro */
body.dark-theme {
  background-color: black;
  color: white;
}

/* Ajustar estilos del sidebar para tema oscuro */
.sidebar.dark-theme {
  background-color: #333;
  color: white;
}

/* Ajustar iconos y texto del sidebar para tema oscuro */
.sidebar.dark-theme .nav-icon,
.sidebar.dark-theme .nav-text {
  color: rgb(0, 0, 0);
}

/* ESTILOS DEL ICONO DE PERFIL */
/* Estilos para el modal */
.modal {
  display: none; /* Oculto por defecto */
  position: fixed; /* Fijo */
  z-index: 1; /* Sobre otros elementos */
  left: 0;
  top: 0;
  margin-left: 88px;
  margin-right: 0;
  width: calc(100% - 88px); /* Ancho completo */
  height: 100%; /* Alto completo */
  overflow: auto; /* Hacer scroll si es necesario */
  background-color: rgba(0,0,0,0.4); /* Fondo oscuro con transparencia */
}

.modal-content {
  background-color: #fff;
  margin: 10% auto; /* Centrado */
  padding: 20px;
  border: 1px solid #888;
  width: 85%; /* Ancho del modal */
  max-width: 550px; /* Ancho m치ximo */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Sombra */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.profile-pic {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 20px;
}

.modal-header h2 {
  margin: 0;
}

#perfil p {
  margin: 10px 0;
}
.btn-perfil{
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  width: 38px;
  height: 38px;
  border-radius: 20px;
  border: 2px solid #006699; /* Color del borde */
	box-shadow: 0 0 10px #006699, 0 0 20px #006699; /* Efecto de ne칩n */
}

/*perfil*/
.form-botones{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.button-pass {
  background-color: #0d6dd3;
  height: 45px;
  width: 40%;
  border-radius: 30px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0 0 10px #000204, 0 0 20px #ffffff; /* Efecto de ne칩n */
}
.button-cancelar {
  background-color: #d30d0d;
  height: 45px;
  width: 40%;
  border-radius: 30px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0 0 10px #000204, 0 0 20px #ffffff; /* Efecto de ne칩n */
}
.input-pass {
  height: 35px;
  width: 50%;
  border-radius: 30px;
  font-weight: bold;
}

/* Buscar avisos */

.buscador {
  margin-top: 20px;
  text-align: center;
}

.barra {
  border-radius: 30px 0 0 30px;
  border: 2px solid #007bff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.btn-primary-buscar {
  border-radius: 0 30px 30px 0;
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.btn-primary-buscar:hover {
  background-color: #0056b3;
}

.input-group {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* Notificaciones */


.nav-item.dropdown input[type="checkbox"] {
  display: none;
}

.nav-item.dropdown .dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.nav-item.dropdown input[type="checkbox"]:checked~.dropdown-menu {
  display: block;
}

.navbar-brand {
  margin-left: 1600px;
  margin-top: -10px;
  font-weight: bolder;
}

.dropdown-menu {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 250px; 
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
z-index: 1;
}

.dropdown-divider {
width: 400px; 
}

#notificationIcon {
font-size: 22px; 
}
#count-label {
font-size: 15px; 
top: -5px; 
position: relative; 
}

