.nav-toggle {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #333;
    cursor: pointer;
}

.side-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transition: left 0.3s ease;
}

.titulo{
    font-weight: bold;
}

.img-logo{
    height: 200px;
    position: relative;
}

.img-aparecer{
    float: right;
    animation: fadeInOut 5s infinite;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.img-container {
    position: relative;
    overflow: hidden;
    height: 400px;
    
}

.img-fluid{
    height: 100%;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    opacity: 100;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    box-sizing: border-box;
}

.img-container:hover .overlay {
    opacity: 1;
}

.overlay .p-4.mt-2 {
    margin: 0;
    padding: 0;
    width: 100%;
}

.text-nav {
    text-align: center;
    opacity: 0; /* Comienza oculto */
    transition: opacity 0.3s ease-in-out; /* Transición suave */
}

.nav-item:hover .text-nav {
    opacity: 1; /* Mostrar el texto al pasar el mouse */
}

.tm-nav {
    flex-direction: column; /* Alinear elementos verticalmente */
    align-items: center; /* Centrar elementos horizontalmente */
    width: 50px; /* Ancho del nav */
    margin-left: 20px;
  }
  
  .nav-item {
    margin-bottom: 10px; /* Espacio entre elementos */
    width: 50px; /* Ancho del elemento */
    text-align: center; /* Centrar texto */
    position: relative; /* Posicionar elemento relativo */
    
  }
  
  .nav-item.nav-icon {
    font-size: 24px; /* Tamaño de los iconos */
    margin-right: 0; /* No espacio entre icono y texto */
  }
  
  .nav-item.text-nav {
    display: none; /* Ocultar texto por defecto */
    position: absolute; /* Posicionar texto absoluto */
    left: 30px; /* Posicionar texto a la derecha del icono */
    top: 0; /* Posicionar texto al mismo nivel que el icono */
    background-color: #fff; /* Fondo blanco para el texto */
    padding: 5px; /* Espacio entre texto y borde */
    border: 1px solid #ddd; /* Borde para el texto */
  }
  
  .nav-item:hover {
    width: 150px; /* Ancho del elemento al pasar el mouse */
  }
  
  .nav-item:hover.text-nav {
    display: block; /* Mostrar texto al pasar el mouse */
  }
  .img-logo {
    margin-left: 20px; /* Agregar un margen de 20px entre el logo y el borde izquierdo de la pantalla */
  }
  
  [data-initials]:before {
    background: #099bdd;
    color: white;
    opacity: 1;
    content: attr(data-initials);
    display: inline-block;
    font-weight: bold;
    border-radius: 50%;
    vertical-align: middle;
    margin-left: 0.5em;
    width: 80px; /* Increased width to 60px */
    height: 80px; /* Increased height to 60px */
    line-height: 60px;
    text-align: center;
    float: right; /* Alinea el logo a la derecha de la pantalla */
    margin-right: 20px; 
    display: flex;
    justify-content: flex-start; /* Alinea el logo a la izquierda de la pantalla */
    margin-left: 20px;
  }