/* Estilos para las tarjetas de tramites */
.listadoAvisos{
  margin-left: 88px;
}
.btn-volver {
  background-color: #2c3e50; /* Un tono oscuro y elegante */
  color: white;
  padding: 12px 25px;
  border-radius: 50px; /* Bordes muy redondeados */
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  position: absolute;
  right: 20px; /* Posición hacia la derecha */
  top: 20px;  /* Posición hacia arriba */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.btn-volver:hover {
  background-color: #1a242f; /* Oscurecimiento suave en hover */
  transform: translateY(-3px); /* Efecto de elevación */
}

.btn-volver:focus {
  outline: none;
}

.container-mis-tramites {
  background-color: #ffffff;
  border: #034b78 2px solid;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column; /* Esto asegura que los elementos se apilen verticalmente */
  justify-content: space-between; /* Esto empuja el botón hacia abajo */
  height: 350px; /* Establece una altura fija para todas las tarjetas */
  padding: 20px; /* Mantén el padding para el contenido interno */
  margin: 15px; /* Mantén un margen alrededor de cada tarjeta */
}

.container-mis-tramites:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.sin-tramites{
  margin-left: -88px;
  color: rgb(169, 49, 49);
}
.titlulo {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #2c3e50;
  margin-bottom: 10px;
}

.subtitle {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 1rem;
  color: #7f8c8d;
  margin-bottom: 15px;
}

.actions {
  margin-bottom: 10px;
}

.responsable {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 0.9rem;
  color: #2980b9;
  font-weight: 500;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.estado {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 0.9rem;
  color: #16a085;
  font-weight: 600;
}

/* Contenedor de cada columna */
.div-estado {
  background-color: #d7d7d7;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.estado-tramite {
  margin-bottom: 20px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
}

/* Contenedores de trámites */
.container_tramites_dpto {
  padding: 15px;
  background-color: #f8f8fc;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  margin-bottom: 15px;
  cursor: grab;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.container_tramites_dpto:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Título de trámites */
.titlulo_tramites_dpto {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

/* Descripción de trámites */
.subtitle_tramites_dpto {
  font-size: 1rem;
  color: #373737;
  margin: 10px 0;
}

/* Responsable */
.responsable_tramites_dpto {
  font-size: 0.9rem;
  color: #4a4a4a;
  font-style: italic;
}

/* Estado de trámites */
.estado_tramites_dpto {
  font-size: 0.85rem;
  color: #545493;
  display: inline-block;
}

/* Avatar */
.avatar_dpto {
  border: none;
  font-size: 0.9rem;
  text-align: center;
}

/* Fecha */
.fecha_dpto {
  font-size: 0.8rem;
  color: #505050;
  margin-top: 10px;
}
.info_fecha{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.btn-imprimir{
  margin: 10px 0px;
  height: 10%;
}
/* Efectos de arrastre */
.container_tramites_dpto.dragging {
  opacity: 0.5;
  border: 2px dashed #4a4a72;
}

/* Estilos para los trámites pendientes */
.container_tramites_dpto.pendiente {
  border-left: 4px solid #ffc107;
}

/* Estilos para los trámites en proceso */
.container_tramites_dpto.en-proceso {
  border-left: 4px solid #17a2b8;
}

/* Estilos para los trámites completados */
.container_tramites_dpto.completado {
  border-left: 4px solid #28a745;
}


/* Respuesta a tamaños pequeños */
@media (max-width: 768px) {
  .container_tramites_dpto {
      font-size: 0.9rem;
      padding: 10px;
  }
}
